@import Models.User
@(signUpForm: Form[User])(implicit request: RequestHeader, messages: Messages,  l: Lang)
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }
@import controllers.routes

@main {

    <div class="jumbotron">
        <div class="container">
            <h1>@Messages("signup.title")</h1>

            @b3.form(routes.Auth.signup_register) {
                @b3.text( signUpForm("firstName"), '_label -> "First Name", 'placeholder -> "First Name" )
                @b3.text( signUpForm("lastName"), '_label -> "Last Name", 'placeholder -> "Last Name" )
                @b3.email( signUpForm("email"), '_label -> "Email", 'placeholder -> "Email" )
                @b3.text( signUpForm("username"), '_label -> "Username", 'placeholder -> "Username" )
                @b3.password( signUpForm("password"), '_label -> "Password", 'placeholder -> "Password" )
                @b3.password( signUpForm("password"), '_label -> "Confirm password", 'placeholder -> "Confirm Password" )
                @b3.submit('class -> "btn btn-primary btn-block"){ "Sign up" }
            }

        </div>
    </div>

}