@(content: Html)(implicit messages: Messages,  l: Lang)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../../favicon.ico">

    <title>Let's Play !</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'/>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index()">Let's Play !</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <a href="@routes.Auth.signin_show()" class="btn btn-success" role="button">Sign in</a>
                <a href="@routes.Auth.signup_show()" class="btn btn-primary" role="button">Sign up</a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div>
    @content

    <hr>

    <footer>
        &copy; 2015 Company, Inc. &mdash;
        @helper.form(action = routes.Application.changeLocale(), 'class -> "change-locale") {
        <label>@Messages("languages")
            <select name="locale">
                @play.api.i18n.Lang.availables(play.api.Play.current).map { lang =>
                <option value="@lang.code" @(if(l.code == lang.code) "selected")>@Messages("lang." + lang.code)</option>
                }
            </select>
        </label>
        }
    </footer>

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src='@routes.Assets.at("lib/jquery/jquery.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/hello.js")' type="text/javascript"></script>

</body>
</html>